//
// maps to social networks:

$twitter: (
	name: 'twitter',
	color: #52a7e7
);

$facebook: (
	name: 'facebook',
	color: #45619d
);

$tumblr: (
	name: 'tumblr',
	color: #36465d 
);

$googleplus: (
	name: 'googleplus',
	color: #d73d32
);

$linkedin: (
	name: 'linkedin',
	color: #069
);