@import "vars";

%styles-default-buttons {
	color: white;
	display: inline-block;
	line-height: 40px;
	margin: 5px;
	padding: 0 10px;
	text-decoration: none;
}

@mixin gen-social-links($buttons...) {
	@each $button in $buttons {
		.link-#{map-get($button, name)} {
			background-color: map-get($button, color);
			@extend %styles-default-buttons;

			&:hover {
				background-color: mix(map-get($button, color), black, 85%);
			}
		}
	}
}

@include gen-social-links($twitter, $facebook, $tumblr, $googleplus, $linkedin);